.content {
  padding: 15px;
  background-color: #fff;

  h2 {
    margin-top: 0;
    line-height: 1;
  }

  @media (min-width: 375px) {
    padding: 20px;
  }

  @media (min-width: 480px) {
    padding: 30px;
  }
}

.content-main,
.content-sidebar {

  > div {
    margin-bottom: 30px;

    @media (min-width: 1024px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

.content-main p:last-child,
.content-main footer:last-child {
  border-bottom: 1px solid $block-border-color;
  padding-bottom: 30px;
}

.content-grid-column {
  box-sizing: border-box;

  @media (min-width: 1024px) {
    width: 60%;
    float: left;
    padding-right: 30px;

    &:first-child {
      border-right: 1px solid $block-border-color;
    }

    &.content-sidebar {
      width: 40%;
      float: right;
      padding-right: 0;
      padding-left: 30px;
    }
  }

  @media (min-width: 1280px) {
    width: 70%;

    &.content-sidebar {
      width: 30%;
    }
  }

  @media (min-width: 1400px) {
    width: 50% !important;
  }
}

.content-widget {
  box-sizing: border-box;

  @media (min-width: 1024px) {
    border-right: 1px solid $block-border-color;
  }
}
