.container {
  width: 100%;
  float: right;
  position: relative;
  box-sizing: border-box;
  margin-top: 50px;

  @media (min-width: $hide-toggle) {
    width: calc(100% - 300px);
    margin-top: 0;
  }
}

.page .container,
.single .container,
.page-template-default .container {
  padding: 15px;

  @media (min-width: 480px) {
    padding: 25px;
  }
}

.page-template-contacts .container {
  background-size: cover;
  background: url("../images/map-500w.jpg") no-repeat fixed 100% 0;
  min-height: 100%;
  padding: 0;

  @media (min-width: 960px) {
    background-image: url("../images/map.jpg");
  }
}

.home .container {
  padding: 0;
}
