#info-toggle {
  border: 1px solid;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: .2em;
  cursor: pointer;

  .icon {
    display: block;
  }
}

.info-toggle {
  transition: all .2s ease-in-out;
  position: relative;

  @media (min-width: $hide-toggle) {
    background-color: rgba($brand-primary, .9);
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    font-size: 9px;
  }
}

.info-toggle-list {
  width: 280px;
  background-color: rgba(#000, .7);
  padding: 1em;
  line-height: 2.4;
  transition: all .3s cubic-bezier(0.3, 0.88, 0.58, 1.21);
  font-size: 16px;
  position: absolute;
  margin-top: 9px;
  left: 200%;
  box-sizing: border-box;

  &.is-open {
    transform: translateX(-110%);
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $brand-primary;
    }
  }

  .icon {
    font-size: 120%;
    margin-right: 5px;
  }

  @media (max-width: 560px) {
    min-width: 100%;
  }
}

.admin-bar .nav-container {
  top: 32px;
}
