.main-nav ul {

  li {
    list-style: none;
    border-bottom: 1px solid $bg-dark;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 18px;
      padding: 0 1.38em;
      height: 3.44em;
      line-height: 3.44em;
      background-color: $bg-menu;
      background-image: $default-gradient-light;
      transition: background-color .3s ease;
    }

    &.current-menu-item a,
    & a:hover {
      background-color: $brand-primary;
      background-image: $default-gradient-dark;
    }
  }
}
