#nav-toggle {
  width: 40px;
  height: 25px;
  z-index: 100;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media (min-width: $hide-toggle) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) { top: 0; }
    &:nth-child(2) { top: 40%; }
    &:nth-child(3) { top: 80%; }
  }

  &.open span {
    background-color: $brand-primary;

    &:nth-child(1) {
      top: 40%;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &:nth-child(3) {
      top: 40%;
      transform: rotate(-135deg);
    }
  }
}