.nav-container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $brand-primary;
  color: #fff;
  z-index: 9;
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 480px) {
    padding: 10px 25px;
  }

  @media (min-width: $hide-toggle) {
    background-color: transparent;
  }
}

.admin-bar .nav-container {
  top: 46px;

  @media (min-width: 799px) {
    top: 32px;
  }
}