.portfolio-item {
  float: left;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  width: 100%;

  @media (min-width: 600px) {
    width: 100%;
    font-size: 16px;
  }

  @media (min-width: 860px) {
    width: 50%;
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    width: 33.333%;
    font-size: 12px;
  }

  @media (min-width: 1500px) {
    width: 25%;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    transition: all .5s ease-in-out;
  }

  &:hover,
  &.over {
    .portfolio-item-overlay {
      opacity: 1;
    }

    img {
      transform: scale(1.2);
    }
  }
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#2cb8b6, .8);
  opacity: 0;
  transition: all 1s ease;

  &:before {
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  h4 {
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: inherit;
    color: #fff;
  }

  p {
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    width: auto;
    margin-top: 0;
    display: inline-block;
    text-transform: lowercase;

    @media (min-width: 860px) {
      font-size: 14px;
    }
  }
}

.overlay-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
}

.portfolio-item-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0);
  width: 3.333em;
  height: 3.333em;
  border-radius: 50%;
  transition: background-color .3s ease;
  line-height: 3.333em;
  text-decoration: none;
  font-size: 1.125em;
}

.portfolio-item-link:hover {
  background-color: rgba(255, 255, 255, .2);
}

