// BASE
@import "base/variables";
@import "base/mixins";
@import "base/headings";
@import "base/icons";

html, body { height: 100%; }

body {
  font: 300 100%/1.6 'Roboto', sans-serif;
  color: $global-text-color;
  background-color: $global-text-color;
}

a { color: inherit; }

img { max-width: 100%; }

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

@import "../../node_modules/normalize.scss/normalize";
@import "../../node_modules/baguettebox.js/dist/baguetteBox";

// BLOCKS
@import "blocks/btn";
@import "blocks/nav-toggle";
@import "blocks/info-toggle";
@import "blocks/main-aside";
@import "blocks/container";
@import "blocks/portfolio-item";
@import "blocks/forms";
@import "blocks/contacts";
@import "blocks/content";
@import "blocks/testimonial";
@import "blocks/progress";
@import "blocks/project";
@import "blocks/custom-list";
@import "blocks/gallery";
@import "blocks/tag";
@import "blocks/info-box";
