// Effects Setup

$image-bg:             $brand-primary;
$figcaption-bg:        $brand-primary;
$figcaption-padding:   20px;
$text-color:           #fff;
$border-color:         #fff;

@import "../../../bower_components/imagehover.css/scss/imagehover";
