// COLORS
$brand-primary: #1ab5b3;
$bg-dark: #202426;
$bg-menu: #2f373b;
$global-text-color: #a3a3a3;
$form-border: #eaeaea;
$block-border-color: rgba(#000, .1);
// BREAKPOINTS
$hide-toggle: 600px;
$form-by-half: 960px
