// COLORS
$brand-primary: #1ab5b3;
$bg-dark: #202426;
$bg-menu: #2f373b;
$global-text-color: #a3a3a3;
$form-border: #eaeaea;
$block-border-color: rgba(#000, .1);

// EFFECTS
$default-box-shadow: 2px 2px 6px 0 rgba(#000, .5);
$default-gradient-light: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
$default-gradient-dark: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
// BREAKPOINTS
$hide-toggle: 600px;
$form-by-half: 960px
